
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-lg rounded">
                <div class="card-body">
                    <h5 class="card-title text-primary">Primer Test IA</h5>
                    <p class="card-text">LLAMA.</p>
                    <a routerLink="primer-test-ia" class="btn btn-primary btn-sm">Go</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-lg rounded">
                <div class="card-body">
                    <h5 class="card-title text-danger">Segundo Test IA</h5>
                    <p class="card-text">LLAMA y NodeJs.</p>
                    <a routerLink="segundo-test-ia" class="btn btn-danger btn-sm">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>